
// Specific CSS for your home-page
.logo {
  color: white;
  width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-home {
  display: flex;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.userw-title-text-s,
.userw-text-just,
.userw-text-line-h {
  color: #ffffff;
}
.userw-title-text-s {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.contauiner {
  align-items: center;
  display: flex;
  margin-top: 2em;
}

h1{
  font-family: "Oswald", sans-serif;
  display: flex;
  color: rgb(114, 236, 77);
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;

}

.btn-primary {
  background-color: rgb(114, 236, 77);
  border-color: #000000;
  color: rgb(12, 11, 11);
  font-weight: 700;
  padding: 0.5em 1em;
  margin-top: 1em;
  display: flex;
  width: 20%;
  border-radius: 30px;
}
.b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: rgb(114, 236, 77);
  font-size: 35px;
}

h3 {
  font-family:"Oswald", sans-serif;
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  font-size: 2.0rem;
  text-align: center;
}
.card1 {
  background-color: #ffffff;
  display: flex;
  width: 274px;
  height: 200px;
  border-radius: 30px;
  margin-left: 6.5em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.1);
}
.front{
  color: black;
}
.gall{
  display: flex;
  margin-left: 7.5rem;
}
