// Specific CSS for your home-page
body {
  background-color: rgb(8, 8, 8)
}
h1 {
  color: rgb(244, 239, 239);
  font-size: 50px;
  text-align: center;
  margin-top: 5%;
}

.logo {
  color: white;
  width: 50%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.under{
  color: white;
  text-align: center;
  margin-top: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
