.card-proj {
    background-color: rgb(255, 243, 243);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }

  }

  .project-detail:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .fotos-project {
    width: 100%; /* Faz as imagens ocuparem toda a largura do card */
    border-radius: 5px 5px 0 0;
    margin-bottom: 15px;
  }

  .project-detail p {
    margin: 10px 0;
  }
