<div class="logo">
  <%= cl_image_tag ('customcolor_logo_customcolor_background_ur79ii'), class: "logo" %>

</div>
<h1>
  Under Construction
</h1>
<div class="under">
  <%= cl_image_tag ('under-construction_siglx5'), class: "under" %>
</div>
