<div class="logo ">
 <%= image_tag 'logo.jpg', alt: '', class: 'logo rounded', style: " height: 100%; border-radius: 13%;" %>
</div>

<div class="car-d container" >
  <div class="row gx-5 gy-4 mt-3">
      <% unless @images.empty? %>
        <% @images.each do |image| %>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-gallery">
               <%= image_tag url_for("#{image}"), class: "fotos-project", style: "width: 100%;" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<div style="height:300px;"></div>
