<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 20vw; height: auto; border-radius: 10px;" %>
</div>

<div class="container mt-5">
 <div class="row d-flex justify-content-around">
    <% @projects.each do |project| %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card-project">
            <div class="card-body">
              <% if project.images.attached? %>
                <div class="card">
                  <%= image_tag url_for(project.images.first), alt: project.name, style: "width: 100%; height: 360px;" %>
                </div>
              <% end %>
              <p><% project.category %></p>
              <h2><%= link_to project.name, project_path(id: project.id) %></h2>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div style="height:300px;"></div>
