<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>
<h1>Projects</h1>
<div class="containerproject">
  <div class="row">
    <% @projects.each do |project| %>
        <div class="col-4">
          <div class="card-servi">
            <div class="containerproject">
              <% if project.images.attached? %>
                <%= image_tag project.images.first, alt: project.name %>
              <% end %>
              <p><%= project.category %></p>
            </div>
          </div>
          <!-- O link agora está dentro da div col-4, mas fora do card-servi -->
          <h2><%= link_to project.name, project_path(id: project.id) %></h2>
        </div>
    <% end %>
  </div>
</div>
