<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>
<div class="container">
  <div class="row g-4">
    <% if @project.images.attached? %>
      <% @project.images.each do |image| %>
        <!-- Para telas pequenas (sm) usa toda a largura (col-12), para médias (md) e grandes (lg) divide em 3 -->
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card-proj">
            <%= image_tag url_for(image), alt: @project.name, class: "fotos-project" %>
            <div class="card-body">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br><br><br><br><br><br>
