<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', class: 'logo rounded', style: "width: 24vh; height: 100%; border-radius: 13%;" %>
</div>
<div class="container" style="margin-left: 0rem ">
  <div class="row mt-3 g-4">
    <% if @project.images.attached? %>
      <% @project.images.each do |image| %>
        <!-- Para telas pequenas (sm) usa toda a largura (col-12), para médias (md) e grandes (lg) divide em 3 -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card-show">
            <%= image_tag url_for("https://res.cloudinary.com/dc6nbm8zp/image/upload/v1720101942/#{image.blob.filename}"), alt: @project.name, style: "width: 100%; height: 360px;" %>
            <div class="card-body">
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
 <%= link_to 'Voltar', :back, class: 'btn btn-custom' %>
<br><br><br><br><br><br>
