<h1>Projectw</h1>
<% @projects.each do |project| %>
  <div class="project-card">
    <% if project.images.attached? %>
      <%= image_tag project.images.first, alt: project.name %>
    <% end %>
    <h2><%= link_to project.name, project_path(project) %></h2>
    <p><%= project.category %></p>
  </div>
<% end %>
