
<div class="logo ">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 24vh; height: 100%; border-radius: 13%" %>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="serv-fron">
      <ul class="card-service">
        <h3 class="tit-ser">Inside</h3>
          <ul class="ins col-md- responsive-text custom-list">
            <li>Architrave install</li>
            <li>Bathroom refurbishment</li>
            <li>Carpet supply and fit</li>
            <li>Ceiling</li>
            <li>Coving install</li>
            <li>Electrical work a project</li>
            <li>Garage conversion</li>
            <li>Kitchen refurbishment</li>
            <li>Laminate floor install</li>
            <li>Overboarding</li>
            <li>Painting and decorating</li>
            <li>Plasterboarding</li>
          <ul class="colun2  col-8 custom-list responsive-text">
            <li>Bspoke Canopy Build</li>
            <li>Composite Front door</li>
            <li>Fascia and soffit replan</li>
            <li>Guttering</li>
            <li>Plastering / skimming</li>
            <li>Small flat upgrade</li>
            <li>Tiling</li>
            <li>Wall Build</li>
            <li>Well Refurbishment,</li>
            <li>Window supply and fit</li>
            <li>carpet fitter</li>
            <li>wall repairs</li>
          </ul>
    </div>
      <div class="img-f  d-block justify-content-end  mb-md-0 ">
        <%= image_tag "https://res.cloudinary.com/dc6nbm8zp/image/upload/v1722356886/20240516_065654_xyucbw.jpg", class: "d-none d-md-block", style: "width: 100%; max-width: 650px; height: 450px; border-radius: 20px;" %>
      </div>
  </div>
</div>
<div class="outis container">
  <div class="row mb-4">
      <div class="img-insd  d-block justify-content-start ">
        <%= image_tag "https://res.cloudinary.com/dc6nbm8zp/image/upload/v1722357049/wall_qawlnx.jpg", class: "d-none d-md-block", style: "width: 100%; max-width: 650px; height: 450px; border-radius: 20px;" %>
      </div>
    <div class="ins-ser  responsive-margin ">
      <h3 class="tit-out ">Outside</h3>
      <ul class="out responsive-text">
        <li>Block Paving</li>
        <li>Cabin Install</li>
        <li>Cladding</li>
        <li>Concrete slab install</li>
        <li>Decking</li>
        <li>Driveway Install</li>
        <li>Exterior Wall Repair</li>
        <li>Fascia and soffit</li>
        <li>Fence Install</li>
        <li>Fencing</li>
      </ul>
      <ul class="colun1  col-7 responsive-text">
        <li>Gate Instal</li>
        <li>Path Install/ Patio Install</li>
        <li>Pergola Install</li>
        <li>Pier repair/ build</li>
        <li>Rendering</li>
        <li>Rumble Strip Install</li>
        <li>Small Extension</li>
        <li>Wall Build/ Repair</li>
        <li>Well Refurbishment</li>
        <li>Rumble Strip Construction</li>
      </ul>
    </div>
  </div>
</div>
<br class="my-4">
<div class="row mb-4">
  <div class="text-inf col-12-md-6">
    <div class="tex-in">
      <h3 class="ser-p col-md-6 "> Service Provided </h3>  <br>
      <div class="col-8-md-6 justify-content-start responsive-text">
        <p>The core of the team is Ashley and I (Sean), and we have a small trusted select few subcontractors that we work with when necessary (Electrician, plumber, roofer, labourer, waste disposal, HMO upgrade refurbished, Some Structural repairs, landscapers, Plumbing work as part of a project, window/door specialist, Retaining Walls) All our projects are initially started with a site visit, where we discuss your vision, and how to make it happen. We specialise in full refurbishments, however, we can do one-off areas of your homes, whether it's a new kitchen, bathroom or anything else you desire. Landscaping is another forte, and we have done numerous garden projects to date.</p>
      </div>
    </div>
    <%= image_tag 'https://res.cloudinary.com/dc6nbm8zp/image/upload/e_improve,w_550,h_500,c_thumb,g_auto/v1719571782/20220519_172244_meerxa.jpg', alt: '', class: 'img-s d-none d-lg-block', style: "width: 100%; max-width: 550px; height: auto;" %>
  </div>
</div>

<br class="my-4">
