<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>

<div class="container">
  <div class="row">
      <dir>
        <h3 class="display-4">Outside</h3>
      </dir>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <%= image_tag 'deckout.jpg', alt: '', style: "width: 708px; height: 448px; border-radius: 15px;" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <dir>
        <h3 class="display-4">Inside</h3>
      </dir>
    <div class="col-md-7">
      <div class="card">
        <div class="card-body justify-content-flex-end">
          <%= image_tag 'cozinha.jpg', alt: '', style: "width: 708px; height: 448px; border-radius: 15px;" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div">
  <h3>Some of our past Projects </h3>
</div>
<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
