.main {
  padding: 0 64px 64px;
  background-color: white;
}
.col-6-out{
  background-color: aliceblue;
  width: 300px;
  height: 100px;
  border-radius: 10px;
}
.text-container{
  display: flex;
  align-items: center;
  gap: 2.0rem;
  padding: 2.0rem;
}
.card-service{
  display: flex;
  margin-left: 43.2rem;
  border-radius: 16px;
  width: 49.5rem;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1603562750325-7627768b62da?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;

}

.card-service1{
  margin-top: 6.0rem;
  padding: 4.5rem 3.5rem 3.5rem;
  border-radius: 16px;
  margin-left: 3.4rem;
  width: 49.5rem;
  max-width: 100%;
  min-height: 500px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1603562750325-7627768b62da?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;

}
.title{
  color: rgb(28, 28, 27);
  font-family: 'olsavol', sans-serif;
}
.servie-home{
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 2.9rem;
}
