.bg-black{
  background-color: black;
  margin-bottom: 20rem;
}
.cont-c {
  padding: 3px 3px 3px 3px;
  background-color: #000000;
  border-style: solid;
  border-width: 6px 8px 6px 6px;
  border-color: #28a745;
  border-radius: 2px 5px 12px;
}
