.container-carousel{
  margin-top: 1.5rem;
  margin-left: 2.5rem;
}

.col-md-5{
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  width: 7,5rem;

}
.row-service{
  margin-top: 1.5rem;
  margin-left: 12.5rem;
  display: flex;

}
