.text-home{
  font-size: 1.5rem;
  font-family:  "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  display: flex;
  margin-top: 4.4rem;
  margin-left: 6.5rem;
  padding: 22px 22px 22px 22px;
  background-color: #FFFFFF0D;
  border-style: solid;
  border-width: 4px 5px 5px 5px;
  border-color: #FFFFFF40;
  border-radius: 12px 5px 12px 5px;
}

.carousel-item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25.5rem;
  border-style: solid;
  padding: 22px 22px 22px 22px;
  object-fit: cover;
  background-color: rgb(114, 236, 77);
  border-style: solid;
  border-width: 4px 5px 5px 5px;
  border-color: rgb(114, 236, 77);
  border-radius: 12px 5px 12px 5px;
}
.text-logo{
  font-size: 1.2rem ;
  font-family: "Oswald", sans-serif;
}

.btn-primary {
  background-color: rgb(114, 236, 77);
  border-color: #000000;
  color: rgb(12, 11, 11);
  font-weight: 400;
  padding: 0.5em 1em;
  margin-top: 1em;
  display: flex;
  margin-left: 7.7rem;
  justify-content: center;
  width: 20%;
  border-radius: 1.5rem;
}
.b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: rgb(114, 236, 77);
  font-size: 35px;
}

h3 {
  font-family:"Oswald", sans-serif;
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  font-size: 2.0rem;
  text-align: center;
}
.card1 {
  background-color: #ffffff;
  display: flex;
  width: 274px;
  height: 200px;
  border-radius: 30px;
  margin-left: 5.5em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.1);
  }
 .card1 img{
  margin-bottom: 1.0rem;
  margin-left: 6.0rem;
  display: flex;
  align-items: center;
 }
.choose{
  font-family: "Oswald", sans-serif;
  color: rgb(61, 225, 43);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}
.front{
  color: black;
}
.gall{
  font-family: "Oswald", sans-serif;
  display: flex;
  margin-left: 7.5rem;
}
.serv{
  font-family: "Oswald", sans-serif;
  display: flex;
  margin-left: 1.90rem;
}

.col-md-5{
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  width: 7,5rem;

}
.row-service{
  margin-top: 1.5rem;
  margin-left: 12.5rem;
  display: flex;
}
.img-hom{
  display: flex;
  // margin-left: 53.5rem;
  // margin-top: -20rem;
}
@media (max-width: 768px) {
  .row-service .Service, .row-service .Galery {
    padding-top: 2rem; /* Menos espaço no topo em telas menores */
  }
}
