.text-home{
  font-size: 1.6rem;
  font-family:  "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-style: normal;
  display: flex;
  margin-left: 3.5rem;
}
.contauiner {
  align-items: center;
  display: flex;
  margin-top: 2em;
}
.btn-primary {
  background-color: rgb(114, 236, 77);
  border-color: #000000;
  color: rgb(12, 11, 11);
  font-weight: 400;
  padding: 0.5em 1em;
  margin-top: 1em;
  display: flex;
  margin-left: 7.7rem;
  justify-content: center;
  width: 20%;
  border-radius: 1.5rem;
}
.b1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: rgb(114, 236, 77);
  font-size: 35px;
}

h3 {
  font-family:"Oswald", sans-serif;
  display: flex;
  justify-content: center;
  // align-items: center;
  margin-top: 1em;
  color: rgb(0, 0, 0);
  font-size: 2.0rem;
  text-align: center;
}
.card1 {
  background-color: #ffffff;
  display: flex;
  width: 274px;
  height: 200px;
  border-radius: 30px;
  margin-left: 5.5em;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  box-shadow: 60px 60px 60px rgba(0, 0, 0, 0.1);

  }
 .card1 img{
  margin-bottom: 1.0rem;
  margin-left: 6.0rem;
  display: flex;
  align-items: center;

 }
.choose{
  font-family: "Oswald", sans-serif;
  color: rgb(61, 225, 43);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.front{
  color: black;
}
.gall{
  font-family: "Oswald", sans-serif;
  display: flex;
  margin-left: 7.5rem;
}
.serv{
  font-family: "Oswald", sans-serif;
  display: flex;
  margin-left: 1.90rem;
}



.col-md-5{
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  width: 7,5rem;

}
.row-service{
  margin-top: 1.5rem;
  margin-left: 12.5rem;
  display: flex;

}
