.navbar {
  width: 100%;
  background: rgb(0, 0, 0);
  font-size: 1.2rem;
  display: flex;
  direction: rtl;

}

.nav-item, .nav-item1{
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  display: flex;
  margin-right: 10px;
  display: flex;

}

.container-fluid {
  background-color: BFE03E;
  display: flex;
  align-items: center;
}

ul {
  margin-top: 9.5rem ;
  overflow: hidden;
  justify-content: space-around;
}
.nav-item{
  text-decoration: none;
  color: rgb(214, 255, 102);
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.nav-item1{
  color: white;
}
