.navbar-lewagon {
  justify-content: space-between;
  background: rgb(15, 15, 15);
  margin-top: 5px;
  font-style: initial;
  display: flex;
  align-content: end;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 35px;
}
