.navbar {
  background: rgb(131, 240, 58);
  margin-top: px;
  font-size: 1.2rem;
  display: flex;

}


.nav-item{
  display: flex;
  margin-right: 10px;
  display: flex;

}

.container-fluid {
  background-color: BFE03E;
  display: flex;
  align-items: center;
}
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
ul {

  margin-top: 0.5rem ;
  overflow: hidden;
  justify-content: space-around;

}
