
h1 {
  color: #333;
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Espaço abaixo do título */
}
.card-project{
  background-color: #fff3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 360px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra ao redor das cards */
  margin-bottom: 20px; /* Espaço abaixo de cada card */
  transition: transform 0.3s ease-in-out;
   /* Animação ao passar o mouse */
}
.card:hover {
  transform: translateY(-5px); /* Levanta a card ao passar o mouse */
}
/* Estilo para o corpo da card */
.card-body {
  padding: 1px; /* Espaçamento interno */
  display: flex; /* Usa flexbox para organizar o conteúdo */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  justify-content: space-between; /* Distribui o espaço entre os itens */
}
.card-body img {
  border-radius: 5px;
  margin-bottom: 15px;
}

.card-body p {
  font-size: 16px;
  color: #666;
}

.card-body h2 {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.card-body a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: #000000; /* Cor do link */
}

.card-body a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}
