
.ins-ser{
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  margin-top: -2rem;
  width: 490px;
  height: 526px;
  padding: 22px 22px 22px 22px;
  background-color: #FFFFFF0D;
  border-style: solid;
  border-width: 4px 5px 5px 5px;
  border-color: #a5d138;
  border-radius: 12px 5px 12px 5px;
  margin-left: 7.0rem;
}

.serv-fron{
  color: whitesmoke;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
  width: 490px;
  height: 593px;
  padding: 22px 22px 22px 22px;
  background-color: #FFFFFF0D;
  border-style: solid;
  border-width: 4px 5px 5px 5px;
  border-color: #a5d138;
  border-radius: 12px 5px 12px 5px;
  margin-left: -0.6rem;
}
.img-f{
  margin-top: 3rem;
  margin-left: 5rem;
  background-size: cover;
  transition: transform 0.3s ease;
  display: block;
  &:hover {
    transform: scale(1.10);
  }
}
.img-out{
  margin-top: 3rem;
  margin-left: 0rem;
  background-size: cover;
  display: block;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.0);
  }
}
.inside{
  margin-top: -6.0rem;
  display: block;
  font-size: 1.1rem;
  font-family: "Oswald", sans-serif;
}
.insi{
  margin-top: 2rem;
  display: block;
  font-size: 1.1rem;
  margin-left: 1.0rem;
  font-family: "Oswald", sans-serif;
}
.out{
  color: #fafafa;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  margin-right: 3.5rem;
  margin-top: 1.7rem;
}
.tit-out{
  margin-top: -7.6rem;
  color: #a5d138;
  margin-left: 5.4rem;
  font-size: 4.4rem;
}
.tit-ser{
  color: #a5d138;
  font-size: 5.4rem;
  margin-top: -11rem;
  margin-left: 3.4rem;
 }
.inf-ser1{
  color: whitesmoke;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
  margin-right: 2.5rem;
  margin-top: 0.7rem;
  padding: 30px 90px 30px 89px;
  background-color: #FFFFFF0D;
  border-style: solid;
  border-width: 5px 6px 5px 6px;
  border-color: #FFFFFF40;
  border-radius: 12px 5px 12px

}
.ser-p{
  font-family: "Oswald", sans-serif;;
  font-size: 2.6rem;
  color: black;
  margin-left: 3rem;
}
.text-inf{
  color: rgb(15, 15, 15);
  font-family: "Oswald", sans-serif;
  background-color: rgb(232, 232, 232);
  font-size: 1.4rem;
  width: 100%;
  height: 600px;
  border-style: solid;
  display: flex;
  align-items: center;
  padding: 30px 60px 30px 60px;
  border-width: 5px 6px 5px 6px;
  border-color: #00000040;
  border-radius: 12px 5px 12px 5px;
  p{
    row-gap: 1.5rem;
  }

}
  .img-insd{
    margin-top: 1.5rem;
    margin-left: -3rem;
    background-size: cover;
    transition: transform 0.3s ease;
    display: block;
    &:hover {
      transform: scale(1.1);
    }
  }
  .img-s{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15.8rem;
    border-radius: 40px;
    object-fit: cover;
    padding: 3px 4px 3px 4px;
    background-color: #0c0c0c0d;
    border-style: solid;
    border-width: 5px 6px 5px 6px;
    border-color: #26262640;
    border-radius: 12px 5px 12px 5px;
    }
/* Estilo padrão para telas maiores */
// .card-service li, .out li, .text-inf p, .tit-ser, .tit-out, .ser-p {
//   font-size: 18px; /* Tamanho padrão da fonte */
// }

// /* Estilo para telas menores (por exemplo, tablets e smartphones) */
// @media (max-width: 768px) {
//   .card-service li, .out li, .text-inf p, .tit-ser, .tit-out, .ser-p {
//     font-size: 14px; /* Tamanho menor da fonte para telas menores */
//   }
// }

// /* Estilo para telas muito pequenas (por exemplo, smartphones em modo retrato) */
// @media (max-width: 480px) {
//   .card-service li, .out li, .text-inf p, .tit-ser, .tit-out, .ser-p, .tit-ser h3 {
//     font-size: 12px; /* Tamanho ainda menor da fonte para telas muito pequenas */
//   }
// }
